/* Variables.scss
**
** Controls global variables for the banksite. Here, you will find colors,
** and fonts that will be used across the entire site.
**
*/

// form input prompt colors
$error:  #b60000;  /* Red */
$valid: #42A948; /* green */

// Buttons
$button-background-color: #b60000;
$button-background-color-hover: #830404;

// Backgrounds
$header-background-color: #333;
$form-background-color: #fff;
$table-background-color: #f9f9f9;
$cs2-background-color: #333;

// Fonts
$table-font-color: #333;
$cs2-font-color: #fff;
$cs2-font-color-strong: #b3b3b3;
$main-info-header-color: #fff;
