/* Variables.scss
**
** Controls global variables for the banksite. Here, you will find colors,
** and fonts that will be used across the entire site.
**
*/

// form input prompt colors
$error:  #b60000;  /* Red */
$valid: #42A948; /* green */

// Buttons
$button-background-color: #b60000;
$button-background-color-hover: #830404;
