<section class="table-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>Final Step</h3>
        <strong>Payment Information</strong>
        <app-check-form></app-check-form>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-5">
        <div class="details column column60">
          <h2><strong class="caps" [innerText]="echos.corpName"></strong> <br>
              <small>Natural Weight Loss Formula
        <br>
              30 Day Supply - 60 Capsules </small></h2>

          <div class="table clearfix">
            <div class="columns1 clearfix">
              <div class="label column column80"><strong class="larger">Sub-Total</strong></div>
              <div class="amount column column20 text-right"><strong class="">$0.00</strong></div>
            </div>
            <div class="columns clearfix">
              <div class="label column column80"><strong class="cp_order">Shipping Fee:</strong></div>
              <div class="amount column column20 text-right"><strong class="cp_order op_price">$4.95</strong></div>
            </div>

            <div class="columns1 clearfix">
              <div class="label column column80 cp_total">TOTAL</div>
              <div class="amount column column20 text-right cp_total" id="order_total">$4.95</div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
