<div id="section-3">
  <img src="../../../../assets/images/m/header-2.jpg" alt="Benefits of Anti Aging" class="img-full" />
  <div class="container">
    <div class="benefit">
      <img src="../../../../assets/images/m/icon-1.jpg" alt="" class="eye small-width" />
      <h2><img src="../../../../assets/images/m/sub-header-1.jpg" alt="" class="sub-header"/></h2>
      <p>Hydrates the under-eye area,<br>removing the look of puffiness.</p>
    </div>
    <div class="benefit">
      <img src="../../../../assets/images/m/icon-2.jpg" alt="" class="wrinkle small-width" />
      <h2><img src="../../../../assets/images/m/sub-header-2.jpg" alt="" class="sub-header"/></h2>
      <p>Boosts collagen and elastin to help<br/> improve the look of skin.</p>
    </div>
    <div class="benefit">
      <img src="../../../../assets/images/m/icon-3.jpg" alt="" class="drops small-width" />
      <h2><img src="../../../../assets/images/m/sub-header-3.jpg" alt="" class="sub-header"/></h2>
      <p>Active ingredients facilitate in trapping<br /> moisture, preventing cracking and peeling.</p>
    </div>
    <div class="benefit">
      <img src="../../../../assets/images/m/icon-4.jpg" alt="" class="shield small-width" />
      <h2><img src="../../../../assets/images/m/sub-header-4.jpg" alt="" class="sub-header"/></h2>
      <p>Boosts skin immunity and prevents<br/>damaging effects of free radicals.</p>
    </div>
  </div>
</div>
