<div id="top">
  <img src="../../../../assets/images/m/top.jpg" alt="top image" class="img-full" />
  <div class="container">
    <div class="check-wrapper">
      <img src="../../../../assets/images/m/check-1.png" alt="" />
      <img src="../../../../assets/images/m/check-2.png" alt="" />
      <img src="../../../../assets/images/m/check-3.png" alt="" />
      <img src="../../../../assets/images/m/exclusive.png" alt="" class="exclusive" />
    </div>
  </div>
  <div class="down-arrow">
    <img src="../../../../assets/images/m/arrow-3.png" alt="arrow" class="arrow" />
    <img src="../../../../assets/images/m/arrow-2.png" alt="arrow" class="arrow" />
    <img src="../../../../assets/images/m/arrow-1.png" alt="arrow" class="arrow" />
  </div>
</div>
