<div class="btn_block">
  <span class="btn_block_txt">
    <b>Achieve Visibly Younger Looking Skin!</b>
    {{ productName }} Supplies are limited. Get it today!
</span>
  <a href="#top" class="rush_btn"></a>
</div>
<div class="exclusive">
  <div class="heading">
    <span>EXCLUSIVE</span> Achieve Healthy, Younger Looking Skin
  </div>
  <div class="featured_block">
    <div class="featured_block_left">
      <ul>
        <li>No Invasive Surgery</li>
        <li>No Painful Injections</li>
        <li>No Expensive Laser</li>
      </ul>
      <p>Your skin is the largest organ on your body but one of the most exposed. As a child, your skin is smooth, healthy and vibrant. But as we age, it can become wrinkled, saggy and discolored. Why? Our skin dries and loses its elasticity as it is exposed
        to a host of factors which attack your skin including age, wind, dryness, sun damage and free radicals.</p>
      <p>Each of these factors reduce our skin’s ability to keep its elasticity and firmness. Age also leads to the loss and breakdown of collagen in the dermal layer of your skin. Collagen is key to provide structural support to your skin. As our body’s
        produce less, your skin begins to sag and wrinkle.</p>

      <p>Your best defense against these hostile factors is choosing the right skin care product that may help reduce visible signs of aging. {{ productName }} is just the solution!</p>
    </div>
    <div class="featured_block_right">
      <img src="../../../assets/images/product_silk.jpg" alt="" width="491" height="470">
      <br>
      <br>
      <img src="../../../assets/images/quote.png" alt="" width="439" height="56">
    </div>
    <div class="clear"></div>
  </div>
</div>
