<div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{ headerString }}</h1>
      </div>
      <div class="modal-body">
        <app-terms [hidden]="hideTerms"></app-terms>
        <app-privacy [hidden]="hidePrivacy"></app-privacy>
        <app-contact [hidden]="hideContact"></app-contact>
        <app-ingredients [hidden]="hideIngredients"></app-ingredients>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="this.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
