<div class="cp-wrapper" id="wrapper">
  <div class="after" id="banner">
    <img class="logo" alt="logo" src="../../../../assets/images/m/logo.png">
    <img alt="" src="../../../../assets/images/m/banner.jpg">
  </div>
  <img id="steps-img" class="" alt="" src="../../../../assets/images/m/steps.jpg">

  <div id="info-content">
    <h3 style="    font-size: 12px;
text-align: center;">
Thank you <span [innerText]="echos.customerName"></span>!<br>
ORDER#: <span [innerText]="echos.orderId"></span>
</h3>


    <div class="kthanks_box" style="">
      <div class="kthanks_boxTitle">
        Items Ordered
      </div>
      <div class="kthanks_boxContent">

        <span [innerText]="echos.itemsTable"></span>

        <hr />
        <div style="float:right">
          <div class="kthanks_spacer">
            <div class="kthanks_label">
              SubTotal:
            </div>
            <span [innerText]="echos.subTotal"></span>
          </div>
          <div class="kthanks_spacer">
            <div class="kthanks_label">
              S &amp; H:
            </div>
            <span [innerText]="echos.shipTotal"></span>
          </div>

          <div class="kthanks_spacer">
            <div class="kthanks_label">
              Tax:
            </div>
            <span [innerText]="echos.taxTotal"></span>
          </div>
          <div class="kthanks_spacer">
            <div class="kthanks_label">
              Insurance:
            </div>
            <span [innerText]="echos.insuranceTotal"></span> </div>

              <div class="kthanks_spacer" style="color:green">
                <div class="kthanks_label">
                  Discount:
                </div>
                <span [innerText]="echos.discountTotal"></span>
              </div>
              <div class="kthanks_spacer" style="border-top:1px solid #CCC">
                <div class="kthanks_label">
                  Grand Total:
                </div>
                <span [innerText]="echos.orderTotal"></span>
              </div>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>


      <div style="width:100%">

        <div class="kthanks_box">
          <div class="kthanks_boxTitle">
            Billing Information
          </div>
          <div class="kthanks_boxContent">
            <span [innerText]="echos.billingAddress"></span><br /> <span [innerText]="echos.emailAddress"></span><br /> <span [innerText]="echos.phone"></span><br />
          </div>
        </div>

        <div class="kthanks_box">
          <div class="kthanks_boxTitle">
            Shipping Information
          </div>

          <div class="kthanks_boxContent">
            <span [innerText]="echos.shippingAddress"></span>
          </div>

        </div>
      </div>
      <div style="clear:both"></div>

      <p style="font-size: 12px;">*A confirmation email has been sent to <span [innerText]="echos.emailAddress"></span> </p>
      <p>&nbsp;</p>
    </div>
    <div class="cl" id="btm">
      <!-- ngInclude: 'ngIncludes/footer.html' -->
      <footer ng-include="'ngIncludes/footer.html'" class="f11 ng-scope">
        <p>
          <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-terms.php' , 'modal');">Terms |</a>
          <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-privacy.php' , 'modal');">Privacy Policy |</a>
          <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-contact.php' , 'modal');">Contact Us </a>

        </p>
        <p class="uppercase ng-scope">
          <span [innerText]="echos.date"></span> &copy;
          <<span [innerText]="echos.productName"></span> </p>
      </footer>
    </div>
  </div>
