<section class="first_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li class="animated fadeInUp">
            <i class="fa fa-tint" aria-hidden="true"></i>
            <p [innerText]="echos.csBulletOne">

            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li class="animated fadeInUp">
            <i class="fa fa-male" aria-hidden="true"></i>
            <p [innerText]="echos.csBulletTwo">

            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li class="animated fadeInUp">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <p [innerText]="echos.csBulletThree">

            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
