<!--START second section-->

<section class="second_section clearfix">
  <div class="spotlight">
    <div class="spotlight_heading_img"><img src="../../../assets/images/inspot_img.png" alt="" width="331" height="89"></div>
    <div class="spotlight_heading">
      <span>Benefits of <span [innerText]="echos.productName"></span></span> Anti-Aging Formula
    </div>
    <div class="spotlight_list">
      <ul>
        <li>
          <b>Eliminates the Look of Dark Circles</b> Restores nourishment in form of hydration to the under-eye area removing puffiness.
        </li>
        <li>
          <b>Reduces the Appearance of Wrinkles</b> The boost in collagen and elastin helps retain the skin's dermal structure which results in reduction of the look of fine lines.
        </li>
        <li>
          <b>Enhances Skin Hydration</b> Active Ingredients facilitate in trapping moisture, which in turn hydrates the skin and prevents cracking.
        </li>
        <li>
          <b>Counters Effects of Stress</b> Boosts skin immunity and prevents damaging effects of free radicals. Eliminates debris that makes skin dull and discolored.
        </li>
      </ul>
    </div>
  </div>
</section>
<!--END second section-->
