<h1 style="height:40px;line-height:40px;background:#333;color:white;margin:0;padding:0 10px;font-size:26px;">Customer Support</h1>
<div style="border:4px solid #333;padding:10px;background:#f9f9f9;">
  <strong>Customer Support</strong>
  <br/>
  <strong>Address</strong>
  <br/> {{ corpName }}
  <br> Corp Address: {{ corpAddress }}
  <br><br> Return Address: {{ returnAddress }}
  <br> Phone: {{ corpPhone }}
  <br/> Support Email: <a href="mailto:{{ corpEmail }}" style="color:#000;">{{ corpEmail }}</a>
  <br> Support Hours: {{ corpHours }}
</div>
