<div class="cp-wrapper" id="wrapper">

  <div class="after" id="banner">

    <img class="logo" alt="logo" src="assets/img/<?php echo $logo; ?>">

    <img alt="" src="assets/img/banner.jpg">

  </div>

  <img alt="" id="steps-1" src="assets/img/steps-2.jpg">

  <div id="approved">

    <div id="approved-content">

      <p class="bl f12"><span class="green">Congratulations <span [innerText]="echos.customerName"></span>!</span> Today, you’re taking your first step toward youthful skin.</p>

      <p class="grey-2 f11"><span>Just pay a small shipping fee. Enjoy your expidited delivery!.</span>
      </p>

      <p class="gray f11">Current Availability: <span class="bl">LOW STOCK.</span> Sell-out Risk:<span class="red bl"> HIGH</span>
      </p>

    </div>

  </div>

  <div id="info-content">

    <div ng-controller="ListCtrl" id="form-info" class="ng-scope">

      <!-- ngRepeat: prodInfo in heading -->
      <div ng-repeat="prodInfo in heading" class="fr ng-scope" id="price-info">

        <div class="gray fl" id="prod-info">

          <!-- ngRepeat: info in prodInfo.productContent -->
          <div ng-repeat="info in prodInfo.productContent" class="prod-facts ng-scope">

            <p class="bl uppercase f13 ng-binding">
              <span [innerText]="echos.name"></span>
            </p>

            <p class="ng-binding">
              <span [innerText]="echos.productName"></span>
            </p>

            <p class="ng-binding">30g - 30 Day Supply</p>

          </div>
          <!-- end ngRepeat: info in prodInfo.productContent -->

        </div>

        <div id="prices">

          <div class="bl after">

            <p class="green fr">$ 0.00
            </p>

            <p class="fl gray">Price:</p>

          </div>

          <div class="after gray">

            <p class="fr"> $
              <span [innerText]="echos.shipping"></span>
            </p>

            <p class="fl">Shipping &amp; Handling:</p>

          </div>

          <div class="after gray">

            <p class="fr">$
              <span [innerText]="echos.shipping"></span>
            </p>

            <p class="fl">Total:</p>

          </div>

        </div>

      </div>
      <!-- end ngRepeat: prodInfo in heading -->

      <img id="bottle" class="fl" src="assets/img/<?php echo $product1; ?>">

    </div>
