<footer class="chk_footer">
  <div class="container">
    <ul>
      <li>
        <a class="footer-link" (click)="modal.show('contact')">Contact Us</a> |
        <a class="footer-link" (click)="modal.show('terms')">Terms and Conditions</a> |
        <a class="footer-link" (click)="modal.show('privacy')">Privacy Policy </a>
      </li>
    </ul>
    <p> 2016 &copy; {{ productName }}
    </p>
  </div>
</footer>
<div id="exitpopup-overlay" class="exitpopup-overlay">
  <div id="exit_pop" class="exitpop-content">
    <a href="javascript:void(0);"><img src="../../../../assets/images/downsell.jpg" onClick="javascript:checkoutDownsell();" /></a>
  </div>
</div>
