<header>
  <!-- Page Content -->
  <div class="container ">
    <!-- Heading Row -->
    <!-- <div class="row logo"><div class="col-xs-12"></div></div> -->
    <div class="row">
      <div class="col-md-7">
        <!-- <h1 class="animated fadeInDown">Muscle Enhance may help you maximize results and
          achieve fitness goals!</h1> -->
        <img class="animated fadeInDown" alt="Muscle Enhance Logo" src="../../../../assets/images/logo.png" />
        <ul>
          <li class="animated fadeInLeft" [innerText]="echos.csBulletOne"></li>
          <li class="animated fadeInLeft" [innerText]="echos.csBulletTwo"></li>
          <li class="animated fadeInLeft" [innerText]="echos.csBulletThree"></li>
        </ul>
        <img class="animated fadeInLeft" alt="Muscle Enhance bottle" src="../../../../assets/images/bottle.png" />
      </div>
      <div class="col-md-5 animated fadeIn" id="formWrap">
        <app-main-form></app-main-form>
      </div>
    </div>
  </div>
</header>
