<!-- Page Content -->
<div class="container ">
  <!-- Heading Row -->
  <!-- <div class="row logo"><div class="col-xs-12"></div></div> -->
  <div class="row">
    <div class="col-md-8">
      <div id="logoTextTop"><img class="img-responsive" src="img/logo.png" /></div>

      <div class="col-md-6">
        <img src="img/model.png" class="imgMain" width="375" style="margin-top:  100px;" />
      </div>

      <div class="col-md-6">

        <p>&nbsp;</p>


        <p id="box"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;100% Natural and Safe To Take</p>

        <p id="box"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;May Support Healthy Weight Loss</p>

        <p id="box"> <i class="fa fa-check" aria-hidden="true"></i>&nbsp;May Possibly Be A Naturally Effective Solution</p>



        <div id="btl3wrap" style="margin-top:50px">
          <div class="smBtlWrapHm">
            <div class="smBtlLogoHm">
              <img src="img/logo.png" class="img-responsive center-block" />
            </div>
          </div>
          <!--/smBtlWrap-->
        </div>
        <!--/btl3wrap-->

      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4" id="formWrap">
      <app-main-form></app-main-form>
    </div>
  </div>
</div>
