@import "../../variables.scss";

$assetPath : "../../../assets/images/";

header {
  background: url($assetPath + 'section-1-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  h1, li {
    color: $main-info-header-color;
    list-style-type: disc;
    padding: 1.25em;
    transition: .5s;
  }

  ul {
    padding: 5em 4em;
  }

  li {
    font-size: 1.5em;
  }

  input, select {
    margin: 1em 0;
  }

  form {
    font-size: 12px;
  }

  // Left side of header, the title and bullets
  .col-md-7 {
    padding: 6em 0;

    li {
      animation-delay: .3s;
      &:first-of-type {
        animation-delay: .15s;
      }
      &:last-of-type {
        animation-delay: .45s;
      }
    }
    img {
      animation-delay: .75s;

      &:first-of-type {
        animation-delay: .01s;
      }
    }
  }

  // Form field in header
  .col-md-5 {
    background-color: $form-background-color;
    padding: 4em;
    margin: 6em 0;
    transition: 1s;
    animation-delay: 1.25s;
  }
}
