<header>
  <!-- Page Content -->
  <div class="container ">
    <!-- Heading Row -->
    <!-- <div class="row logo"><div class="col-xs-12"></div></div> -->
    <div class="row">
      <div class="col-md-7">
        <!-- <h1 class="animated fadeInDown">Muscle Enhance may help you maximize results and
          achieve fitness goals!</h1> -->
        <img class="animated fadeInDown" alt="Muscle Enhance Logo" src="../img/logo.png" />
        <ul>
          <li class="animated fadeInLeft">
            100% potent L-Arginine enhancement
          </li>
          <li class="animated fadeInLeft">
            May increase blood flow and improve muscular tone
          </li>
          <li class="animated fadeInLeft">
            May help achieve ideal physique
          </li>
        </ul>
        <img class="animated fadeInLeft" alt="Muscle Enhance bottle" src="../img/bottle.png" />
      </div>
      <div class="col-md-4" id="formWrap">
        <app-main-form></app-main-form>
      </div>
    </div>
  </div>
</header>
