<div id="discountholder" style="display:none;">
  <div class="discountsection">SPECIAL DISCOUNT ACTIVATED! - SAVE OVER 50% OFF SHIPPING &amp; HANDLING ON ALL ORDERS PLACED TODAY! ONLY <span id="dis_price">$2.95</span>! PER TRIAL</div>
  <div class="discountoffset"></div>
</div>
<div class="main_container">
  <div class="container">
    <div class="header_cont"> <img class="checkout_header_logo4" src="../../../../assets/images/logo.png" height="51" width="131" alt="" title="" /> <img class="header_ship" src="../../../../assets/images/header_ship.png" height="51" width="415" alt="" title="" /> <img class="usa_chk"
          src="../../../../assets/images/usa_chk.png" height="31" width="254" alt="" title="" />
      <div class="clear"></div>
    </div>
