<body class="thankyou_body">
  <div style="display:none">
    <?php
//pull the order information out of session
$orderId = $ksdk->getOrderId();
$customerName = $ksdk->getCustomerName();
$billingAddress = $ksdk->getBillingAddress();
$shippingAddress = $ksdk->getShippingAddress();
$phoneNumber = $ksdk->getPhoneNumber();
$emailAddress = $ksdk->getEmailAddress();
$itemsTable = $ksdk->getItemsTable();
$subTotal = $ksdk->getSubTotal();
$shipTotal = $ksdk->getShipTotal();
$taxTotal = $ksdk->getTaxTotal();
$insuranceTotal = $ksdk->getInsureTotal();
$discountTotal = $ksdk->getDiscountTotal();
$orderTotal = $ksdk->getOrderTotal();
$currency = $ksdk->currencySymbol;
?>
  </div>
  <div class="container_thankyou">
    <div class="thankyou_cont">
      <header class="thankyou_header"> <img class="thankyou_header_left" src="../../../../assets/images/logo.png" width="200" height="auto" alt="" title="" /> <img class="thankyou_header_right" src="../../../../assets/images/header_ship2.png" width="401" height="41" alt="" title="" />
        <div class="clear"></div>
      </header>
      <div class="section1">
        <h1>THANK YOU FOR YOUR PURCHASE</h1>
        <span>We hope you enjoy the benefits of</span><span [innerText]="echos.productName"></span>
        <p>Your order is scheduled to arrive by <strong><script type="text/javascript">getDate(5)</script></strong></p>


        <div class="kthanks" style="">




          <div class="kthanks_box" style="">
            <div class="kthanks_boxTitle">
              <strong>Items Ordered</strong>
            </div>
            <div class="kthanks_boxContent">
              <hr />
              <div style="text-align: left">
                <div class="kthanks_spacer">
                  <div class="kthanks_label">
                    SubTotal:
                  </div>
                </div>
                <div class="kthanks_spacer">
                  <div class="kthanks_label">
                    S &amp; H:
                  </div>
                </div>
                <div class="kthanks_spacer">
                  <div class="kthanks_label">
                    Tax:
                  </div>
                </div>
                <div class="kthanks_spacer">
                  <div class="kthanks_label">
                    Insurance:
                  </div>
                </div>
                <div class="kthanks_spacer" style="color:green">
                  <div class="kthanks_label">
                    Discount:
                  </div>
                </div>
                <div class="kthanks_spacer" style="border-top:1px solid #CCC">
                  <div class="kthanks_label">
                    Grand Total:
                  </div>
                </div>
              </div>
              <div style="clear:both"></div>
            </div>
          </div>


          <div style="">

            <div class="kthanks_box">
              <div class="kthanks_boxTitle">
                Billing Information
              </div>
              <div class="kthanks_boxContent">
                <span [innerText]="echos.billAddress"></span><br /><span [innerText]="echos.email"></span><br /> <span [innerText]="echos.phone"></span><br />
              </div>
            </div>

            <div class="kthanks_box">
              <div class="kthanks_boxTitle">
                Shipping Information
              </div>

              <div class="kthanks_boxContent">
                <span [innerText]="echos.shippingAddress"></span>
              </div>

            </div>
          </div>
          <div style="clear:both"></div>

          <p>*A confirmation email has been sent to <span [innerText]="echos.email"></span> </p>

        </div>


      </div>

      <p>By submitting, you consent to having read and agreed to our Terms & Conditions and after your day trial period has expired, being enrolled in our membership program is $ <span [innerText]="echos.trialPrice"></span> plus shipping per month. You can cancel any time by calling <span [innerText]="echos.phone"></span>
      </p>
        <br>
        <p>*A confirmation email has been sent to <span [innerText]="echos.email"></span></p>

    </div>
  </div>
  <script src="assets/js/main.js" type="text/javascript"></script>
  <script src="assets/js/exitpop.js" type="text/javascript"></script>
</body>
