body{
    background: #fff;
}
#wrapper{
    width: 320px;
    margin: 0 auto;
    font-family: 'Open Sans', helvetica;
    position: relative;
    overflow-x: hidden;
}
.after:after{
    content: '';
    display: block;
    clear: both;
}
#hidden-banner{
    padding: 20px 0px 20px 20px;
    border-bottom: 2px solid #ffcb00;
    border-top: 2px solid #ffcb00;
    background: #e9e7e4;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -1px;
    width: 100%;
    z-index: 3;
    display: none;
}
#hidden-banner p{
    position: relative;
    color: #5a5a5a;
    text-align: center;
    line-height: 16px;
    display: inline-block;
}
#steps-2{
    width: 100%;
}
#approved{
    padding: 10px 20px;
    border-bottom: 1px solid #d6d6d6;
    color: #5a5a5a;
}
#approved-content{
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    margin-left: 10px;
}
#approved-content h1{
    font-size: 13px;
    font-weight: bold;
}
#eye{
    width: 7%;
    position: relative;
    margin-right: 2px;
    top: 0px;
}
#banner img{
    width: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
#form{
    padding: 20px 20px 10px 20px;
}
#form  div{
    margin-bottom: 0px;
}
form label{
    font-size: 11.5px;
    color: #5a5a5a;
    display: block;
}
form select{
    width: 98%;
    height: 25px;
    margin-top: 5px;
    border: 1px solid #929292;
    -webkit-appearance: none;
    padding: 0 0 0 8px;
    /* color: #c2c2c2; */
    font-size: 11px;
    font-style: italic;
}
input[type="text"], input[type="number"], input[type="tel"], input[type="email"]{
    padding: 3px 0 3px 7px;
    border: 1px solid #929292;
    margin-top: 5px;
    font-style: normal;
    -webkit-appearance: none;
    border-radius: 0;
}
.w50{
    width: 49%;
    /* height: 39px; */
}
.n-input{
     width: 100%;
}
.s-input{
    width: 100%;
}
input[type="submit"]{
    background: url(../img/cp-1-off-btn.png) no-repeat;
    width: 85%;
    margin: 0 7% 0 7%;
    height: 65px;
    background-size: 100%;
    border: none;
    text-indent: -9999px;
    background-position: 0 0;
    border-radius: 0px;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="submit"]:active{
    background: url(../../images/cp-1-on-btn.png) no-repeat;
    background-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#security-tag{
    padding: 15px 0 10px 0;
    margin: 0 auto;
    color: lightgrey;
}
#security-tag p{
    text-align: center;
    font-size: 10px;
}
#security-tag img{
    vertical-align: -20%;
    width: 3.7%;
}
#security{
    width: 53%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    /*padding-top: 15px;*/
}
#cp-1-purple-bottom{
    margin-bottom: -20px;
    background-color: #222222;
}
#btm{
    margin-top: 20px;
    background-color: black;
}
#terms{
    font-size: 11px;
    line-height: 14px;
    padding: 25px 20px 25px 20px;
    color: #a5a5a5;
    text-align: justify;
}
