body{
    background: #fff;
}
#wrapper{
    width: 320px;
    margin: 0 auto;
    font-family: 'Open Sans', helvetica;
    overflow-x: hidden;
}
.pink-two{
  color: #ed145b;
}
.f11{
    font-size: 11px;
}
.f12{
    font-size: 12px;
}
#banner img{
    width: 100%;
}
#steps-1{
    width: 100%;
}
#check{
    width: 5%;
    position: relative;
    top: 2px;
    left: 2px;
}
#approved{
    padding: 20px 20px 7px 20px;
    border-bottom: 1px solid #d6d6d6;
}
#approved-content{
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-left: 10px;
    color: #5a5a5a;
}
#approved-content p{
    margin-bottom: 13px;
}
#prod-info{
    font-size: 11px;
    line-height: 18px;
    padding-bottom: 10px;
}
#prod-info p:first-child{
    margin-bottom: 5px;
}
#form-info{
    padding: 0px 20px 0 20px;
}
#price-info{
    font-size: 11px;
    width: 60%;
    position: relative;
    top: 20px;
}
#price-info > div p{
    line-height: 16px;
}
#prices{
    clear: both;
    border-top: 1px solid #dddcdc;
    padding: 10px 10px 15px 0;
}
#price-info div > div:first-child{
    position: relative;
    left: 0px;
    width: 100%;
}
#price-info div > div:nth-child(2),
#price-info div > div:last-child{
    width: 100%;
}
#price-info > div > div:first-child p:last-child,
#price-info > div > div:nth-child(2) p:last-child{
    padding-right: 16px;
}
#price-info > div > div:last-child p:last-child{
    padding-right: 10px;
}
#bottle{
    width: 38%;
    position: relative;
    top: 28px;
    margin-left: 0px;
}
#submission-info{
    clear: both;
    padding-top: 20px;
    position: relative;
    z-index: 10;
}
#form{
    padding: 13px 20px 0 20px;
    border-top: 1px solid #dddcdc;
}
#shipping{
    font-size: 10px;
    padding-bottom: 3px;
}
#shipping label{
  vertical-align: middle;
  display: inline-block;
}
#hidden-fields{
    display: none;
}
#hidden-fields input[type="text"], #hidden-fields input[type="number"]{
    margin-bottom: 8px;
    -webkit-appearance: none;
    border-radius: 0;
}
#hidden-fields select{
    margin-bottom: 4px;
    margin-top: 8px;
    -webkit-appearance: none;
    border-radius: 0;
}
#cards{
    float: right;
    width: 23%;
    font-size: 12px;
    padding: 0px 0px 0px 0;
    color: #5a5a5a;
}
#cards > img{
    width: 100%;
    padding: 0px 0px;
}
#form  div{
    margin-bottom: 8px;
    display: inline-block;
}

form label{
    font-size: 11px;
    color: #5a5a5a;
    display: block;
}
form select{
    width:100%;
    height: 30px;
    margin-top: 3px;
    padding-left: 7px;
    -webkit-appearance: none;
    border: 1px solid #B9B9B9;
    -webkit-appearance: none;
    font-size: 11px;
    /* color: #c2c2c2; */
    font-style: italic;
}
.n-input{
    width:100%;
}
.s-input{
    width: 31%;
    position: relative;
    top: -5px !important;
}
.s-select{
    width: 49%;
}
.w50{
    width: 49%;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
#cvv-img{
    position: relative;
    top: 21px;
    width: 98%;
}
input[type="text"], input[type="number"]{
    padding: 3px 0 3px 7px;
    border: 1px solid #929292;
    margin-top: 7px;
    -webkit-appearance: none;
    border-radius: 0;
}
#security-tag{
    padding: 15px 0 10px 0;
    margin: 0 auto;
    color: lightgrey;
}
#security-tag p{
    text-align: center;
    font-size: 10px;
}
#security-tag img{
    vertical-align: -20%;
    width: 3.7%;
}
#cp-1-purple-bottom{
    /*margin-top: 25px;
    margin-bottom: 0px;*/
    background-color: #222222;
}
input[type="submit"]{
    background: url(../img/cp-1-off-btn.png) no-repeat;
    width: 85%;
    height: 65px;
    background-size: 100%;
    border: none;
    text-indent: -9999px;
    background-position: 0 0;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="submit"]:active:hover{
    background: url(../../images/cp-1-on-btn.png) no-repeat;
    background-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#secure{
    width: 53%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
}
#security{
    width: 53%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
}
#terms{
    font-size: 10px;
    line-height: 14px;
    padding: 0px 20px 25px 20px;
    color: #a5a5a5;
    text-align: justify;
}
#btm{
    background-color: black;
}
.shipping-text{
  text-align: justify;
  padding:0 5% 0 5% ;
}
