<footer>
  <div id="cta">
    <div id="security-tag" class="after gray">
      <p><img src="../../../assets/images/m/lock-gray.jpg" alt="" /> Secure 256 Bit Encrypted Connection.</p>
    </div>
    <input type="submit" id="sub-cp" routerLink="/shipping" style="background: url(../../../assets/images/m/lp-off-btn.png) no-repeat; background-size: cover" />
    <input type="hidden" name="sub" value="1" />
  </div>
  <p>
    <a class="footer-link" (click)="modal.show('terms')">Terms |</a>
    <a class="footer-link" (click)="modal.show('privacy')">Privacy Policy |</a>
    <a class="footer-link" (click)="modal.show('contact')">Contact Us </a>

  </p>
  <p class="copyright">2016 &copy; <span [innerText]="echos.name"></span>
  </p>
  <p class="disclaimer" style="padding-bottom:30px; margin-bottom: 85px;">This product has not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Results in description are illustrative and may not be typical results and individual results may vary. The depictions on this
    page are fictitious and indicative of potential results. Representations regarding the efficacy and safety of <span [innerText]="echos.name"></span> have not been scientifically substantiated or evaluated by the Food and Drug Administration.</p>
</footer>
