<!-- Footer -->
<footer class="footer-basic-centered">

  <p class="footer-company-motto">
    {{ corpName }}
    <br /> {{ corpAddress }}
    <br /> {{ corpPhone }}
    <br /> {{ corpEmail }}
  </p>

  <p class="footer-links">
    <a class="footer-link" routerLink="/terms" routerLinkActive="active">Terms and Conditions</a> &bull;
    <a class="footer-link" href="javascript:void(0);" onclick="javascript:openNewWindow('privacy.php', 'modal');">Privacy Policy</a> &bull;
    <a class="footer-link" href="javascript:void(0);" onclick="javascript:openNewWindow('contact.php', 'modal');">Contact Us</a> &bull;
    <a class="footer-link" href="javascript:void(0);" onclick="javascript:openNewWindow('ingredients.php', 'modal');">Ingredients</a>
  </p>

  <p class="footer-company-name">{{ productName }} &copy; 2016</p>
  <br />
  <p class="footer-company-name">This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. It should not be used if you are pregnant or nursing. Consult with a physician before use if you have a serious medical
    condition or use prescription medications. A Doctor's advice should be sought before using this and any supplemental dietary product. All trademarks and copyrights are the property of their respective owners and are not affiliated with nor do they
    endorse {{ productName }}. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Individual weight loss results will vary. By using this site you agree to follow the Privacy
    Policy and all Terms & Conditions printed on this site. Void Where Prohibited By Law.</p>

</footer>
