footer {
  padding: 1em 25em;

  .footer-company-motto,.footer-links, .footer-company-name {
    text-align: center;
  }

  // Modal
  .app-modal-body {
    max-height: 420px;
    overflow-y: auto;
  }
}
