// Buttons
button.btn {
  background-color: #b60000;
  color: #fff;
  padding: 1em 4em;
  font-size: 2em;
  transition: .5s;

  &:hover {
    background-color: #830404;
    transition: .5s;
    color: #fff;
  }
}
