<header>
  <!-- Page Content -->
  <div class="redbar">
    <div class="container">
      <div class="redbar-text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <p class="midtxt">Discount was applied</p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
    </div>
  </div>
  <div name="top"> </div>

  <body class="lp">
    <div class="top">
      <div class="container">
        <b>ATTENTION:</b> Due to high demand from recent media coverage we can no longer guarantee supply.
        <br> As of June 17 2016 we currently have product in-stock and will ship within 24 hours of purchase.
      </div>
    </div>
    <div id="exitOverlay" class="hidden exitpop"></div>
    <div id="exitPopup" class="hiddenn exitpop" style="display:none;">
      <a href="discount.php" id="exitLink" title="Discount Shipping"><img src="../../../assets/images/exitpop.png" alt="Discount Shipping" class="popupimg" height="424" width="852" />
        <div class="exit-bottle">
          <img class="exitbottle adjuster" src="../../../assets/images/product1.png" alt="" />
        </div>

      </a>
    </div>
    <div class="top_block">
      <div class="container">
        <div class="top_left">
          <div class="top_left_inner">
            <div class="top_left44"><img class="adjuster" width="300" height="298" src="../../../assets/images/product1.png" alt=""></div>
            <div class="top_left1">
              <span>Internet Exclusive Offer<br>Available to US Residents Only</span> <img src="../../../assets/images/logo_uk.png" alt="" width="37" height="28">
            </div>
            <div class="top_left2"><img src="../../../assets/images/logo.png" alt="" width="169" height="66"></div>
            <div class="top_left3"><img src="../../../assets/images/visibly_txt.png" alt="" width="230" height="152"></div>
            <div class="top_left4">
              <ul>
                <li>
                  <span>Brighten Skin's Appearance</span>
                  <p><img src="../../../assets/images/star.png" alt="" width="17" height="15" /> <img src="../../../assets/images/star.png" alt="" width="17" height="15"> <img src="../../../assets/images/star.png" alt="" width="17" height="15" /></p>
                </li>
                <li>
                  <span>Restore Your Radiant, Firmer Skin</span>
                  <p><img src="../../../assets/images/star.png" alt="" width="17" height="15"> <img src="../../../assets/images/star.png" alt="" width="17" height="15"> <img src="../../../assets/images/star.png" alt="" width="17" height="15" /> <img src="../../../assets/images/star.png"
                        alt="" width="17" height="15" /></p>
                </li>
                <li>
                  <span>Smooth Look of Stubborn Fine Lines</span>
                  <p><img src="../../../assets/images/star.png" alt="" width="17" height="15" /> <img src="../../../assets/images/star.png" alt="" width="17" height="15" /> <img src="../../../assets/images/star.png" alt="" width="17" height="15" /> <img
                        src="../../../assets/images/star.png" alt="" width="17" height="15" /> <img src="../../../assets/images/star.png" alt="" width="17" height="15" /></p>
                </li>
              </ul>
            </div>
            <div class="top_left5">HURRY! Claim your Trial Today</div>
            <div class="top_left6">
              Limit 1 Trial per Customer
              <br>Don't get left behind!
            </div>
            <div class="top_left7"></div>
          </div>
        </div>
        <div class="top-right">
          <app-main-form></app-main-form>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="giftPackage"><img src="../../../../assets/images/gift.png" /></div>
    <div class="clear"></div>
    <div class="top_left8"></div>
    <div class="clear"></div>
