<div class="layer-8">
  <div class="container">
    <div class="layer-8-imgs">
      <div class="layer-8-img1"><img src="../../../assets/images/vitalize.jpg" alt="" width="321" height="304"></div>
      <div class="layer-8-img2"><img src="../../../assets/images/replenish.jpg" alt="" width="321" height="303"></div>
      <div class="layer-8-img3"><img src="../../../assets/images/moisturize-3.jpg" alt="" width="321" height="302"></div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="footer-part-1">
  <div class="container">
    <div class="foot-part-1">
      <div class="heading">
        <span>Limited Time Offer</span> Trial Offer Only Available to First Time Users
      </div>
      <div class="foot-part1-model"><img src="../../assets/images/foot-model-1.png" alt="" width="605" height="404"></div>
      <div class="foot-part1-tag"><img src="../../assets/images/premium-tag.png" alt="" width="140" height="140"></div>
      <div class="foot-part1-bottle"><img class="adjuster" src="../../assets/images/product1.png" alt="" width="317" height="310"></div>
      <div class="foot-part1-logo"><img src="../../assets/images/logo.png" alt="" width="169" height="66"></div>
      <div class="foot-part1-achieve"><img src="../../assets/images/achieve-txt.png" alt="" width="244" height="90"></div>
      <div class="foot-part1-button">
        <a class="rush_btn" href="#top"></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
