<div id="section-4">
  <img src="../../../../assets/images/m/header-3.jpg" alt="What's All the Buzz About?" class="img-full" />
  <div class="container">
    <h2><img src="../../../../assets/images/m/sub-header-5.jpg" alt="The New Injection-Free Solution" class="header img-full"/></h2>
    <p>
      <span [innerText]="echos.name"></span> is your secret to radiant, beautiful skin that looks years younger. Don’t endure the physical pain and expense of costly procedures and surgeries.
      <!--Aimée-->
      <span [innerText]="echos.name"></span> works naturally to help replenish your skin’s moisture, firming its appearance and restoring your natural glow to reveal a younger-looking you.</p>
    <img src="../../../../assets/images/m/eyes.jpg" alt="eyes" class="img-full eyes" />
    <img src="../../../../assets/images/m/results.jpg" alt="results" class="img-full results" />
  </div>
</div>
