<!-- Page Content -->
<section class="table-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <em>{{ testMessage }}</em>
        <h1>{{ anotherTest }}</h1>
        <strong>Thank you <span [innerText]="form.fName"></span> for your purchase!</strong>
        <p>
          We hope you enjoy the benefits of <span id="product-name" [innerText]="echos.productName"></span><br /> Your order is scheduled to arrive by
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <strong>Order Receipt</strong>
        <p>
          Please keep for your records.
        </p>
        <ul>
          <li>
            Order placed:
            <script type="text/javascript">
              getDate(0)
            </script>
          </li>
          <li>
            Order number:
          </li>
        </ul>

        <p>
          <strong>Total: </strong> $4.95
        </p>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
