@import "../../variables.scss";

section {
  background-color: $table-background-color;

  .col-md-8, .col-md-12 {
    padding: 3em 0;
    font-size: 1.5em;

    strong {
      text-transform: uppercase;
    }

    ul {
      list-style-type: disc;
      padding: 2em 0;
    }

    .order-total {
      text-align: right;
    }
  }

  .col-md-8 {
    background-color: $form-background-color;
    padding: 3em;
    margin-bottom: 4em;
  }
}
