/* Styles.scss
**
** Controls global styles for the banksite. Here, you will find buttons,
** forms, elements, fonts, etc. that will be used across the entire site.
**
*/
@import "app/1/variables.scss";

// Elements //

// Forms
.checkbox input[type=checkbox] {
  margin-right: 1em;
  margin-left: 0;
  position: relative;
}

.ng-invalid {
  border-left: 5px solid $error;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $valid;
}

form.ng-invalid {
  border:none;
  box-shadow:none;
}

// Buttons
button.btn {
  background-color: #b60000;
  color: #fff;
  padding: 1em 4em;
  font-size: 2em;
  transition: .5s;

  &:hover {
    background-color: #830404;
    transition: .5s;
    color: #fff;
  }
}

// Footer
footer {
  padding: 1em 25em;

  .footer-company-motto,.footer-links, .footer-company-name {
    text-align: center;
  }
}

// Classes //

// Bootstrap classes
.container {
  padding: 0 3em;
}
a:hover{
  cursor: pointer;
}
