<div class="top_right">
  <div class="form">
    <div class="top_form">ONLY <span>2</span><span>5</span><span>0</span>Trials available now!</div>
    <div class="form_bl">
      <div class="form_header">
        Tell Us Where to send
        <span>Your Trial bottle</span>
      </div>
      <form id='kform' class='kform'>
        <div class="active text">
          <label>First Name:</label>
          <input type="text" placeholder="eg., John" name="firstName" required isRequired />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>Last Name:</label>
          <input type="text" placeholder="eg., Doe" name="lastName" required isRequired />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>Enter Address:</label>
          <input type="text" id="autocomplete" onFocus="geolocate()" placeholder="Enter Your Address" required isRequired />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>Street Address</label>
          <input type="text" name="shipAddress1" id="fullAddr" placeholder="Address" />
          <div class="input-validation"></div>
        </div>
        <!-- <div class="text">
          <label>Street Name</label>
          <input type="text" name="shipAddress1" id="route" placeholder="Your Address" required isRequired />
          <div class="input-validation"></div>
        </div> -->
        <input style="display: none" id="street_number" />
        <input style="display: none" id="route" />
        <div class="text">
          <label>City:</label>
          <input type="text" name="shipCity" id="locality" placeholder="City" required isRequired />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>State:</label>
          <input type="text" required name='shipState' placeholder="State" id="administrative_area_level_1" isRequired />
        </div>
        <div class="text">
          <label>Zip code:</label>
          <input type="text" class="zip-change" id="postal_code" name="shipPostalCode" placeholder="Zip Code" pattern="[0-9]{5}" maxlength="5" required isRequired oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
          />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>Country:</label>
          <input type="text" required id="country" placeholder="Country" name='shipCountry' />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>Phone:</label>
          <input type="text" name="phoneNumber" placeholder="Phone" required isRequired pattern="[0-9]{10}" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
          <div class="input-validation"></div>
        </div>
        <div class="text">
          <label>Email:</label>
          <input type="email" placeholder="Where we'll email you" name="emailAddress" required isRequired />
          <div class="input-validation"></div>
        </div>
        <div class="form-button">
          <button type='submit' class='kform_submitBtn btn' id='kformSubmit' routerLink="/checkout">RUSH MY TRIAL</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="clear"></div>
