@import "../../variables.scss";

// Second section (second CTA) styling
.second_section {
  background-color: $cs2-background-color;
  color: $cs2-font-color;

  strong {
    color: $cs2-font-color-strong;
    font-size: 1.5em;
  }

  .col-md-6 {
    img {
      width: 100%;
      margin: 3em 0;
    }

    &:last-of-type {
      text-align: right;
      padding: 5em;
    }
  }

  &:before {
    content: "";
    margin: 0 auto;
    border: 40px solid;
    border-color: #fff transparent transparent;
  }
} //.second_section
