// Second section (second CTA) styling
.second_section {
  background-color: #333;
  color: #fff;

  strong {
    color: #b3b3b3;
    font-size: 1.5em;
  }

  .col-md-6 {
    img {
      width: 100%;
      margin: 3em 0;
    }

    &:last-of-type {
      text-align: right;
      padding: 5em;
    }
  }

  &:before {
    content: "";
    margin: 0 auto;
    border: 40px solid;
    border-color: #fff transparent transparent;
  }
} //.second_section

// Buttons
button.btn {
  background-color: #b60000;
  color: #fff;
  padding: 1em 4em;
  font-size: 2em;
  transition: .5s;

  &:hover {
    background-color: #830404;
    transition: .5s;
    color: #fff;
  }
}
