<!--START second section-->

<section class="second_section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img alt="Muscle model" src="../../../../assets/images/model.png" />
        <div class="btn-container">
          <button class="btn" id='kformSubmit' type="submit">Order Now</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="animated fadeInDown" alt="Muscle Enhance Logo" src="../../../../assets/images/logo.png" />
        <strong>Find out what <span [innerText]="echos.productName"></span> can do for you today!</strong>
        <img alt="Muscle Enhance bottle" src="../../../../assets/images/bottle.png" />
      </div>
    </div>
  </div>
</section>
<!--END second section-->
