h3 {
  color: #b60000;
  margin: 1em 0px;
  font-size: 2em;
}

// Form field in header
.col-md-5 {
  background-color: #fff;
  padding: 4em;
  margin: 6em 0;
  transition: 1s;
  animation-delay: 1.25s;

  .checkbox input[type=checkbox] {
    margin-right: 1em;
    margin-left: 0;
    position: relative;
  }
}
