// form input prompt colors
$error:  #b60000;  /* Red */
$valid: #42A948; /* green */

h3 {
  color: #b60000;
  margin: 1em 0px;
  font-size: 2em;
}

.checkbox input[type=checkbox] {
  margin-right: 1em;
  margin-left: 0;
  position: relative;
}
<<<<<<< HEAD
.ng-invalid {
  border-left: 5px solid $error;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $valid;
}

form.ng-invalid {
  border:none;
  box-shadow:none;


button.btn {
  background-color: #b60000;
  color: #fff;
  padding: 1em 4em;
  font-size: 2em;
  transition: .5s;

  &:hover {
    background-color: #830404;
    transition: .5s;
    color: #fff;
  }

}
